
$color-orange: #ffae00;
$color-red: #f63712;
$color-blue: #428bca;
$color-green: #59a831;
$color-grey: #d6d6d6;
$color-muted-grey: #9f9f9f;
$color-text: #2d2d2d;
$color-lighter-gray: #f3f3f3;
$font: "Proxima Nova", sans-serif;
$font-weight: 400;

.orange{
    color: $color-orange;
}
.red{
    color: $color-red;
}
.blue{
    color: $color-blue;
}
.green{
    color: $color-green;
}

body{
    font-family: $font;
    font-weight: $font-weight;
    color: $color-text;

    #wrapper{
        padding: 5px;
        width:100%;
        margin: 0 auto;
        min-width: 400px;
        .container{
            margin: 0 auto;

            .row{
                margin-left: 0;
                margin-right: 0;
            }
        }    
    }
}

// full panel for each course
.course-panel{
    height: 100%;
    border: 2px solid $color-grey;
    margin-bottom:5px;

    .image-container{
        a.image-link{
            text-decoration: none;
            width:99%;
            height:99%;

            img.img-responsive{
                width: 100%;
            }
        }       
    }

    .course-info{
        padding: 5px;
        position:relative; 

        .course-title-field{          
            height: 60px;
            width: 100%;
            line-height: 28px;  
            font-size: 18px;   

            .course-title{   
                height: 100%;
                width:85%; 
                display: inline-block;

                span.course-title-text{                    
                    display:inline-block;                                                                         
                }
            }

            //hidden submenu shown on hovering over the element
            .submenu{          
                width: 12%;
                height: 116px;
                float:right;
                font-size: 25px;
                text-align: center;               
                color: $color-muted-grey;

                span.glyphicon{
                    line-height: 2;
                }

                ul.hidden-menu-list{
                    list-style: none;
                    display:none;               
                    padding:0;
                    width:200px;
                    position: absolute;              
                    left: 85%;
                    top: 30px;               
                    z-index: 999;
                    box-shadow:3px 3px 3px $color-grey;
                    border: 1px solid $color-grey;   
                    color: $color-text;

                    li{        
                        display:none;
                        border-bottom: 2px solid $color-grey;
                        padding: 5px;
                        background-color: white;  
                        font-size: 14px;
                        cursor:pointer;
                    }

                    li:hover{                
                        background-color: $color-lighter-gray;       
                    }
                }
            }           
        }
        .info2{
            height: 54px;
        }
        .course-info2{             
            white-space: nowrap;
            overflow:hidden;
            text-overflow: ellipsis;   
        }

        .bottom-info{  
            height: 25px;
            margin-top: 10px;
            display: inline-block;
            width: 100%;

            .left-side-info, .right-side-info{
                display: inline-block;
            }

            .left-side-info{
                .progress-panel{
                    .progress{
                        height:8px;
                        margin-bottom: 0;
                    }
                }
            }

            .right-side-info{
                float:right;
                padding-top: 3px;
            }         
        }
    }
}

// Available course
.available-course{
    .course-panel{       
        // Do not display the submenu when the course is available and expand title to 100% width.
        .course-title-field{                                            
            .course-title{   
                width:100%;   
                span.course-title-text{                   
                    width: 100%;
                }
            }

            .submenu{          
                width: 0;   
                display: none;
            }                     
        }

        .info2{
            .rating-price-container{
                height:20;
            }              
        }

        .bottom-info{
            height: 27px;
        }
    }
}

// Started course
.started-course{
    .course-panel{  
        .course-title-field{                                                
            .submenu:hover{          
                ul.hidden-menu-list, ul.hidden-menu-list li {
                    display: none;              
                }
            }                     
        }

        .course-info{
            .info2{               
                visibility:hidden;    
                height:17px;
            }

            .bottom-info{
                margin-top:5px;
                height: 25px;

                .left-side-info{
                    width:100%;
                    height: 25px;
                }
            }
        }       
    }
}

// Started course with expiration info
.started-course-expiration{
    .course-panel{  
        .course-title-field{                                                
            .submenu:hover{          
                ul.hidden-menu-list, ul.hidden-menu-list li {
                    display: none;              
                }
            }                     
        }

        .course-info{      
            .bottom-info{
                margin-top:5px;
                height: 25px;

                .left-side-info{
                    width:100%;
                    height: 25px;
                }
            }           
        }       
    }
}

// Finished course
.finished-course{
    .course-panel{  
        .course-title-field{                                                
            .submenu:hover{          
                ul.hidden-menu-list, ul.hidden-menu-list li {
                    display: none;              
                }
            }                     
        }

        .course-info{      
            .info2{
                height:17px;
            }

            .bottom-info{
                margin-top:5px;
                height: 25px;

                .left-side-info{
                    width:100%;
                    height: 25px;
                }
            }           
        }       
    }
}

// Finished course with submenu
.finished-course-submenu{
    .course-panel{         
        .course-info{      
            .info2{
                visibility:hidden;    
                height:17px;             
            }

            .bottom-info{
                margin-top:5px;
                height: 27px;

                .left-side-info{
                    width:100%;
                    height: 25px;
                }
            }           
        }       
    }
}

@media screen and (max-width: 550px) {
    .course-panel {
        .course-info {
            .bottom-info{
                .right-side-info{
                    float: left;
                    padding-top: 0;
                    margin-top: -3px;
                }
            }
        }
    }
}

