.orange {
  color: #ffae00; }

.red {
  color: #f63712; }

.blue {
  color: #428bca; }

.green {
  color: #59a831; }

body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  color: #2d2d2d; }
  body #wrapper {
    padding: 5px;
    width: 100%;
    margin: 0 auto;
    min-width: 400px; }
    body #wrapper .container {
      margin: 0 auto; }
      body #wrapper .container .row {
        margin-left: 0;
        margin-right: 0; }

.course-panel {
  height: 100%;
  border: 2px solid #d6d6d6;
  margin-bottom: 5px; }
  .course-panel .image-container a.image-link {
    text-decoration: none;
    width: 99%;
    height: 99%; }
    .course-panel .image-container a.image-link img.img-responsive {
      width: 100%; }
  .course-panel .course-info {
    padding: 5px;
    position: relative; }
    .course-panel .course-info .course-title-field {
      height: 60px;
      width: 100%;
      line-height: 28px;
      font-size: 18px; }
      .course-panel .course-info .course-title-field .course-title {
        height: 100%;
        width: 85%;
        display: inline-block; }
        .course-panel .course-info .course-title-field .course-title span.course-title-text {
          display: inline-block; }
      .course-panel .course-info .course-title-field .submenu {
        width: 12%;
        height: 116px;
        float: right;
        font-size: 25px;
        text-align: center;
        color: #9f9f9f; }
        .course-panel .course-info .course-title-field .submenu span.glyphicon {
          line-height: 2; }
        .course-panel .course-info .course-title-field .submenu ul.hidden-menu-list {
          list-style: none;
          display: none;
          padding: 0;
          width: 200px;
          position: absolute;
          left: 85%;
          top: 30px;
          z-index: 999;
          box-shadow: 3px 3px 3px #d6d6d6;
          border: 1px solid #d6d6d6;
          color: #2d2d2d; }
          .course-panel .course-info .course-title-field .submenu ul.hidden-menu-list li {
            display: none;
            border-bottom: 2px solid #d6d6d6;
            padding: 5px;
            background-color: white;
            font-size: 14px;
            cursor: pointer; }
          .course-panel .course-info .course-title-field .submenu ul.hidden-menu-list li:hover {
            background-color: #f3f3f3; }
    .course-panel .course-info .info2 {
      height: 54px; }
    .course-panel .course-info .course-info2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .course-panel .course-info .bottom-info {
      height: 25px;
      margin-top: 10px;
      display: inline-block;
      width: 100%; }
      .course-panel .course-info .bottom-info .left-side-info, .course-panel .course-info .bottom-info .right-side-info {
        display: inline-block; }
      .course-panel .course-info .bottom-info .left-side-info .progress-panel .progress {
        height: 8px;
        margin-bottom: 0; }
      .course-panel .course-info .bottom-info .right-side-info {
        float: right;
        padding-top: 3px; }

.available-course .course-panel .course-title-field .course-title {
  width: 100%; }
  .available-course .course-panel .course-title-field .course-title span.course-title-text {
    width: 100%; }
.available-course .course-panel .course-title-field .submenu {
  width: 0;
  display: none; }
.available-course .course-panel .info2 .rating-price-container {
  height: 20; }
.available-course .course-panel .bottom-info {
  height: 27px; }

.started-course .course-panel .course-title-field .submenu:hover ul.hidden-menu-list, .started-course .course-panel .course-title-field .submenu:hover ul.hidden-menu-list li {
  display: none; }
.started-course .course-panel .course-info .info2 {
  visibility: hidden;
  height: 17px; }
.started-course .course-panel .course-info .bottom-info {
  margin-top: 5px;
  height: 25px; }
  .started-course .course-panel .course-info .bottom-info .left-side-info {
    width: 100%;
    height: 25px; }

.started-course-expiration .course-panel .course-title-field .submenu:hover ul.hidden-menu-list, .started-course-expiration .course-panel .course-title-field .submenu:hover ul.hidden-menu-list li {
  display: none; }
.started-course-expiration .course-panel .course-info .bottom-info {
  margin-top: 5px;
  height: 25px; }
  .started-course-expiration .course-panel .course-info .bottom-info .left-side-info {
    width: 100%;
    height: 25px; }

.finished-course .course-panel .course-title-field .submenu:hover ul.hidden-menu-list, .finished-course .course-panel .course-title-field .submenu:hover ul.hidden-menu-list li {
  display: none; }
.finished-course .course-panel .course-info .info2 {
  height: 17px; }
.finished-course .course-panel .course-info .bottom-info {
  margin-top: 5px;
  height: 25px; }
  .finished-course .course-panel .course-info .bottom-info .left-side-info {
    width: 100%;
    height: 25px; }

.finished-course-submenu .course-panel .course-info .info2 {
  visibility: hidden;
  height: 17px; }
.finished-course-submenu .course-panel .course-info .bottom-info {
  margin-top: 5px;
  height: 27px; }
  .finished-course-submenu .course-panel .course-info .bottom-info .left-side-info {
    width: 100%;
    height: 25px; }

@media screen and (max-width: 550px) {
  .course-panel .course-info .bottom-info .right-side-info {
    float: left;
    padding-top: 0;
    margin-top: -3px; } }

/*# sourceMappingURL=styles.css.map */
