.orange {
  color: #ffae00; }

.red {
  color: #f63712; }

.blue {
  color: #428bca; }

.green {
  color: #59a831; }

body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  color: #2d2d2d; }
  body div#wrapper {
    padding: 5px;
    width: 100%;
    margin: 0 auto;
    min-width: 400px; }
    body div#wrapper div.container {
      margin: 0 auto; }
      body div#wrapper div.container div.row {
        margin-left: 0;
        margin-right: 0; }

div.course-panel {
  height: 100%;
  border: 2px solid #d6d6d6;
  margin-bottom: 5px; }
  div.course-panel div.image-container a.image-link {
    text-decoration: none;
    width: 99%;
    height: 99%; }
    div.course-panel div.image-container a.image-link img.img-responsive {
      width: 100%; }
  div.course-panel div.course-info {
    padding: 5px;
    position: relative; }
    div.course-panel div.course-info div.course-title-field {
      height: 60px;
      width: 100%;
      line-height: 28px;
      font-size: 18px; }
      div.course-panel div.course-info div.course-title-field div.course-title {
        height: 100%;
        width: 85%;
        display: inline-block; }
        div.course-panel div.course-info div.course-title-field div.course-title span.course-title-text {
          display: inline-block; }
      div.course-panel div.course-info div.course-title-field div.submenu {
        width: 12%;
        height: 116px;
        float: right;
        font-size: 25px;
        text-align: center;
        color: #9f9f9f; }
        div.course-panel div.course-info div.course-title-field div.submenu span.glyphicon {
          line-height: 2; }
        div.course-panel div.course-info div.course-title-field div.submenu ul.hidden-menu-list {
          list-style: none;
          display: none;
          padding: 0;
          width: 200px;
          position: absolute;
          left: 85%;
          top: 30px;
          z-index: 999;
          box-shadow: 3px 3px 3px #d6d6d6;
          border: 1px solid #d6d6d6;
          color: #2d2d2d; }
          div.course-panel div.course-info div.course-title-field div.submenu ul.hidden-menu-list li {
            display: none;
            border-bottom: 2px solid #d6d6d6;
            padding: 5px;
            background-color: white;
            font-size: 14px; }
          div.course-panel div.course-info div.course-title-field div.submenu ul.hidden-menu-list li:hover {
            background-color: #f3f3f3; }
    div.course-panel div.course-info div.info2 {
      height: 54px; }
    div.course-panel div.course-info div.course-info2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    div.course-panel div.course-info div.bottom-info {
      height: 25px;
      margin-top: 10px;
      display: inline-block;
      width: 100%; }
      div.course-panel div.course-info div.bottom-info div.left-side-info, div.course-panel div.course-info div.bottom-info div.right-side-info {
        display: inline-block; }
      div.course-panel div.course-info div.bottom-info div.left-side-info div.progress-panel div.progress {
        height: 8px;
        margin-bottom: 0; }
      div.course-panel div.course-info div.bottom-info div.right-side-info {
        float: right;
        padding-top: 3px; }

div.available-course div.course-panel div.course-title-field div.course-title {
  width: 100%; }
  div.available-course div.course-panel div.course-title-field div.course-title span.course-title-text {
    width: 100%; }
div.available-course div.course-panel div.course-title-field div.submenu {
  width: 0;
  display: none; }
div.available-course div.course-panel div.info2 div.rating-price-container {
  height: 20; }
div.available-course div.course-panel div.bottom-info {
  height: 27px; }

div.started-course div.course-panel div.course-title-field div.submenu:hover ul.hidden-menu-list, div.started-course div.course-panel div.course-title-field div.submenu:hover ul.hidden-menu-list li {
  display: none; }
div.started-course div.course-panel div.course-info div.info2 {
  visibility: hidden;
  height: 17px; }
div.started-course div.course-panel div.course-info div.bottom-info {
  margin-top: 5px;
  height: 25px; }
  div.started-course div.course-panel div.course-info div.bottom-info div.left-side-info {
    width: 100%;
    height: 25px; }

div.started-course-expiration div.course-panel div.course-title-field div.submenu:hover ul.hidden-menu-list, div.started-course-expiration div.course-panel div.course-title-field div.submenu:hover ul.hidden-menu-list li {
  display: none; }
div.started-course-expiration div.course-panel div.course-info div.bottom-info {
  margin-top: 5px;
  height: 25px; }
  div.started-course-expiration div.course-panel div.course-info div.bottom-info div.left-side-info {
    width: 100%;
    height: 25px; }

div.finished-course div.course-panel div.course-title-field div.submenu:hover ul.hidden-menu-list, div.finished-course div.course-panel div.course-title-field div.submenu:hover ul.hidden-menu-list li {
  display: none; }
div.finished-course div.course-panel div.course-info div.info2 {
  height: 17px; }
  div.finished-course div.course-panel div.course-info div.info2 div.course-info2 {
    height: 0;
    display: none; }
div.finished-course div.course-panel div.course-info div.bottom-info {
  margin-top: 5px;
  height: 25px; }
  div.finished-course div.course-panel div.course-info div.bottom-info div.left-side-info {
    width: 100%;
    height: 25px; }
    div.finished-course div.course-panel div.course-info div.bottom-info div.left-side-info div.rating-panel {
      display: none; }
  div.finished-course div.course-panel div.course-info div.bottom-info div.right-side-info {
    display: none; }

div.finished-course-submenu div.course-panel div.course-info div.info2 {
  visibility: hidden;
  height: 17px; }
div.finished-course-submenu div.course-panel div.course-info div.bottom-info {
  margin-top: 5px;
  height: 27px; }
  div.finished-course-submenu div.course-panel div.course-info div.bottom-info div.left-side-info {
    width: 100%;
    height: 25px; }
    div.finished-course-submenu div.course-panel div.course-info div.bottom-info div.left-side-info div.rating-panel {
      display: none; }
  div.finished-course-submenu div.course-panel div.course-info div.bottom-info div.right-side-info {
    display: none; }

@media screen and (max-width: 550px) {
  div div.course-panel div.course-info div.bottom-info div.right-side-info {
    float: left;
    padding-top: 0;
    margin-top: -3px; } }

/*# sourceMappingURL=styles.css.map */
